@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-muted {
    @apply text-gray-600 dark:text-gray-400;
  }
}

.loading-flash {
  background: linear-gradient(
    120deg,
    transparent 5%,
    rgb(31, 41, 55) 20%,
    transparent 30%
  );
  background-size: 200% 100%;
  background-position-y: bottom;
  animation: 1.25s loading linear infinite;
}

@media (prefers-color-scheme: light) {
  .loading-flash {
    background: linear-gradient(
      120deg,
      transparent 5%,
      rgb(243, 244, 246) 20%,
      transparent 30%
    );
    background-size: 200% 100%;
    background-position-y: bottom;
  }
}

@keyframes loading {
  from {
    background-position-x: 50%;
  }
  to {
    background-position-x: -150%;
  }
}
